*{
  margin: 0
}
body{
  background-color: orangered;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hidden{
  display: none;
}

.garage-door{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color:gray;
  transition-property: all;
	transition-duration: 5s;
}
.sort-btns{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.totals{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:500px;

}

.open{
  height: 5vh;
  transition-property: all;
	transition-duration: 5s;
}

.list-of-stuff{
  background: white;
  border: solid black 2px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: scroll
}

form{
  display: flex;
  flex-direction: column;
  width:500px;
}

input{
  margin: 1%;
}

button{
  margin: 1%;
}